<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/campaigns" %>
  <%= render "/@shared/breadcrumbs/campaign", campaign: @campaign, class: "active" %>
<% end %>

<% content_for :subnav do %>
  <%= render "/@shared/admin/subnav/campaign", campaign: @campaign %>
<% end %>

<% content_for :filters do %>
  <%= render "/@shared/date_range_picker" %>
<% end %>

<main id="content" role="main" class="uk-container uk-padding">
  <iframe
    src="<%= @iframe_url %>"
    style="width: 100%; min-height: 2000px; border: 0; resize: horizontal;"
    height="2000"
    scrolling="no"
    allowtransparency></iframe>
</main>