<%= tag.tr class: classes("even": invoice_counter.odd?, "odd": invoice_counter.even?) do %>
  <td class="align-middle">
    <% if authorized_user.can_admin_system? %>
      <%= link_to invoice.invoice_date.strftime("%b %Y"), edit_user_invoice_path(invoice.user, invoice) %></td>
    <% else %>
      <%= invoice.invoice_date.strftime("%b %Y") %></td>
    <% end %>
  </td>
  <td class="text-right align-middle <%= invoice.ad_revenue == 0 ? "text-black-10" : "text-success" %>"><%= invoice.ad_revenue.format %></td>
  <td class="text-right align-middle <%= invoice.ad_spend == 0 ? "text-black-10" : "text-danger" %>"><%= invoice.ad_spend.format %></td>
  <td class="text-right align-middle <%= invoice.bonus_referral == 0 ? "text-black-10" : "text-success" %>"><%= invoice.bonus_referral.format %></td>
  <td class="text-right align-middle <%= invoice.bonus_direct == 0 ? "text-black-10" : "text-success" %>"><%= invoice.bonus_direct.format %></td>
  <td class="text-right align-middle <%= invoice.total == 0 ? "text-black-10" : "text-success" %>"><%= invoice.total.format %></td>
  <td class="text-right align-middle bg-info"><%= invoice.invoice_payment&.amount&.format || "-" %></td>
<% end %>
