<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard", class: "active" %>
<% end %>

<% content_for :subnav do %>
  <%= render "/@shared/admin/subnav/team" %>
<% end %>

<div class="uk-section">
  <div class="uk-container uk-container-expand">
    <table data-controller="grid" data-page-size="12" data-columns="<%= [
        { field: "organization", title: "Team" },
        { field: "balance", title: "Balance", type: "number", format: "{0:c}" },
        { field: "campaign", title: "Campaign" },
        { field: "total_cap", title: "Total Cap", width: 150, groupable: false, type: "number", format: "{0:c}" },
        { field: "daily_cap", title: "Daily Cap", width: 150, groupable: false, type: "number", format: "{0:c}" },
        { field: "hourly_cap", title: "Hourly Cap", width: 150, groupable: false, type: "number", format: "{0:c}" },
        { field: "remaining_budget", title: "Remaining", width: 150, groupable: false, type: "number", format: "{0:c}" },
        { field: "status", title: "Status", width: 150 }
      ].to_json %>">
      <thead>
        <tr>
          <th>Organization</th>
          <th>Balance</th>
          <th>Campaign</th>
          <th>Total Budget</th>
          <th>Daily Budget</th>
          <th>Hourly Budget</th>
          <th>Remaining Budget</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @active_campaigns.each do |campaign| %>
          <tr>
            <td><%= link_to campaign.organization.name, organization_path(campaign.organization) %></td>
            <td><%= campaign.organization.balance.to_f %></td>
            <td><%= link_to campaign.analytics_key, campaign_path(campaign) %></td>
            <td><%= campaign.total_budget.to_f %></td>
            <td><%= campaign.daily_budget.to_f %></td>
            <td><%= campaign.hourly_budget.to_f %></td>
            <td><%= campaign.total_remaining_budget.to_f %></td>
            <td>
              <% if campaign.organization.balance < Monetize.parse("$250 USD") %>
                <span class="uk-label uk-label-danger">Low Balance</span>
              <% elsif campaign.total_remaining_budget_percentage <= 15 %>
                <span class="uk-label uk-label-warning">Low Budget</span>
              <% else %>
                <span class="uk-label uk-label-success">Healthy</span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
