<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/dashboard", class: "active" %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Administrator", "Dashboard",
    subtitle: "Overall view of your account",
    icon: "fas fa-tachometer" %>
<% end %>

<div class="uk-section">
  <div class="uk-container">
    <table data-controller="grid">
      <thead>
        <tr>
          <th id="organization_id"      data-field="organization_id"      data-type="number" data-sortable="true" data-filterable="true" data-groupable="true">Org ID</th>
          <th id="organization_name"    data-field="organization_name"    data-type="string" data-sortable="true" data-filterable="true" data-groupable="true">Organization</th>
          <th id="organization_balance" data-field="organization_balance" data-type="number" data-sortable="true" data-filterable="true" data-groupable="false">Balance</th>
          <th id="campaign_id"          data-field="campaign_id"          data-type="number" data-sortable="true" data-filterable="true" data-groupable="false">Campaign ID</th>
          <th id="campaign_name"        data-field="campaign_name"        data-type="string" data-sortable="true" data-filterable="true" data-groupable="false">Campaign</th>
          <th id="total_budget_cap"     data-field="total_budget_cap"     data-type="number" data-sortable="true" data-filterable="true" data-groupable="false">Total Cap</th>
          <th id="daily_budget_cap"     data-field="daily_budget_cap"     data-type="number" data-sortable="true" data-filterable="true" data-groupable="false">Daily Cap</th>
          <th id="hourly_budget_cap"    data-field="hourly_budget_cap"    data-type="number" data-sortable="true" data-filterable="true" data-groupable="false">Hourly Cap</th>
          <th id="remaining_budget"     data-field="remaining_budget"     data-type="number" data-sortable="true" data-filterable="true" data-groupable="false">Remaining $</th>
        </tr>
      </thead>
      <tbody>
        <% @active_campaigns.each do |campaign| %>
          <tr>
            <td><%= campaign.organization_id %></td>
            <td><%= campaign.organization.name %></td>
            <td><%= campaign.organization.balance %></td>
            <td><%= campaign.id %></td>
            <td><%= campaign.name %></td>
            <td><%= campaign.total_budget %></td>
            <td><%= campaign.daily_budget %></td>
            <td><%= campaign.hourly_budget %></td>
            <td><%= campaign.total_remaining_budget %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<main id="content" role="main" class="bg-light">
  <div class="container space-1">
    <div class="text-center mb-3 mt-5">
      <span class="u-divider u-divider--xs u-divider--text">Active Premium Campaigns</span>
    </div>

    <div class="mb-7" id="dashboard-advertiser-cards">
      <div class="card-deck d-block d-lg-flex card-lg-gutters-2">
        <% @active_campaigns.each.with_index do |campaign, index| %>
          <%= render "/campaigns/card", campaign: campaign %>
          <% if (index + 1) % 3 == 0 %>
            </div><div class="card-deck d-block d-lg-flex card-lg-gutters-2">
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
