<% content_for :breadcrumbs do %>
  <% if authorized_user.can_admin_system? %>
    <%= render "/@shared/breadcrumbs/users" %>
    <%= render "/@shared/breadcrumbs/user", user: user, class: "active" %>
  <% else %>
    &nbsp;
  <% end %>
<% end %>

<% content_for :actions do %>
  <li><%= link_to "Edit User", edit_user_path(user) %></li>
  <% if user != current_user %>
    <li><%= link_to "Masquerade as User", user_impersonation_path(user), method: :put %>
  <% end %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading user.first_name, user.last_name,
    subtitle: user.email,
    icon: "fas fa-user-circle" %>
<% end %>

<% if authorized_user.can_admin_system? %>
  <ul class="nav nav-classic">
    <%= tag.li(active_link_to("Details", user_path(user), active: :exact,
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Earnings", user_invoices_path(user),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Properties", user_properties_path(user),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link"))  %>
    <%= tag.li(active_link_to("Campaigns", user_campaigns_path(user),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Comments", user_comments_path(user),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Events", user_events_path(user),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Revisions", user_versions_path(user),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
  </ul>
<% end %>
<div class="bg-white p-4 <%= "border" if authorized_user.can_admin_system? %>">
  <%= yield %>
</div>