<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--navbar-bg u-header--bg-transparent-xl u-header--sticky-top-xl u-header--starter">
  <div class="u-header__section bg-primary">
    <div id="logoAndNav" class="container-fluid">
      <!-- Nav -->
      <nav class="js-mega-menu navbar navbar-expand-xl u-header__navbar u-header__navbar--no-space">
        <div class="u-header--starter__logo">
          <%= link_to root_path, class: "navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-default u-header__navbar-brand-text-white" do %>
            <%= image_tag "codefund-wg-full-256.svg", alt: "CodeFund", class: "js-svg-injector", class: "m-0", style: "width: 241px; height: 40px;" %>
          <% end %>

          <%= link_to root_path, class: "navbar-brand u-header__navbar-brand u-header__navbar-brand-center u-header__navbar-brand-collapsed" do %>
            <%= image_tag "codefund-wg-512.svg", alt: "CodeFund", class: "js-svg-injector", class: "m-0", style: "height: 40px;" %>
          <% end %>

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->
        </div>

        <!-- Navigation -->
        <div id="navBar" class="collapse navbar-collapse u-header__navbar-collapse">
          <form data-controller="search-autocomplete" data-action="submit->search-autocomplete#submit" data-autocomplete-url="/search" data-min-length="2" class="search-autocomplete form-inline input-group input-group-sm shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text border-0" id="docsSearch">
                <span class="fas fa-search"></span>
              </span>
            </div>
            <input type="search" id="search-input" class="form-control" placeholder="Search..." aria-label="Search..." data-target="search-autocomplete.input" style="border: 0px; margin-bottom: 3px;"/>
            <input type="hidden" name="bird_id" data-target="search-autocomplete.hidden"/>
            <ul data-target="search-autocomplete.results" class="list-group"></ul>
          </form>

          <ul class="navbar-nav u-header__navbar-nav">
            <%= tag.li "", class: "nav-item u-header__nav-item", id: "headway-changelog" if ENV["HEADWAY_ID"].present? %>

            <!-- Network -->
            <li class="nav-item hs-has-sub-menu u-header__nav-item"
                data-event="hover"
                data-animation-in="slideInUp"
                data-animation-out="fadeOut"
                data-position="left">
              <a id="networkMenu" class="nav-link u-header__nav-link u-header__nav-link-toggle" href="javascript:;" aria-haspopup="true" aria-expanded="false">
                Network
              </a>

              <ul class="hs-sub-menu u-header__sub-menu u-header__sub-menu--spacer" style="min-width: 220px;" aria-labelledby="networkMenu">
                <li><%= link_to "Bounties", "https://gitcoin.co/bounties/funder", class: "nav-link u-header__sub-menu-nav-link", target: "_blank" %></li>
                <li><%= link_to "Kudos", "https://gitcoin.co/kudos/", class: "nav-link u-header__sub-menu-nav-link", target: "_blank" %></li>
                <li><%= link_to "Grants", "https://gitcoin.co/grants/", class: "nav-link u-header__sub-menu-nav-link", target: "_blank" %></li>
                <li class="dropdown-divider"></li>
                <li><a class="nav-link u-header__sub-menu-nav-link" href="/partners/opencollective">Open Collective</a></li>
              </ul>
            </li>
            <!-- End Network -->

            <li class="list-inline-item">
              <span id="sidebarNavToggler" class="btn btn-xs btn-text-secondary u-sidebar--account__toggle-bg ml-1 target-of-invoker-has-unfolds" role="button" style="background-color: white;">
                <span class="position-relative">
                  <span class="u-sidebar--account__toggle-text"><%= current_user.name %></span>
                  <%= user_avatar_image_tag(current_user, "u-sidebar--account__toggle-img") %>
                  <% if current_user != true_user %>
                    <span class="badge badge-xs badge-outline-danger badge-pos rounded-circle"></span>
                  <% end %>
                </span>
              </span>
            </li>
          </ul>
        </div>
        <!-- End Navigation -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->