<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/campaigns" %>
  <%= render "/@shared/breadcrumbs/campaign", campaign: campaign, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/date_range_picker" %>
  <%= render "/@shared/actions/edit_campaign", campaign: campaign %>
  <%= render "/@shared/actions/generic", link: new_campaign_path(clone: campaign.id), icon: "fa fa-copy" if authorized_user.can_admin_system? %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "Viewing", "Campaign",
    subtitle: campaign.name,
    icon: "fas fa-ad" %>
<% end %>

<div class="bg-white border border-top-0 px-4 pt-2 pb-4">
  <ul class="nav nav-classic nav-borderless px-0 mb-4">
    <%= tag.li(active_link_to("Details", campaign_path(campaign), active: :exact,
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Overview", campaign_dashboards_path(campaign),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Targeting", campaign_targeting_path(campaign),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Budget", campaign_budget_path(campaign),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Properties", campaign_properties_path(campaign),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
    <%= tag.li(active_link_to("Revisions", campaign_versions_path(campaign),
      data: { turbolinks_persist_scroll: true, prefetch: true }, class: "nav-link")) %>
  </ul>
  <%= yield %>
</div>
