<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/campaigns", class: "active" %>
<% end %>

<% content_for :subnav do %>
  <%= render "/@shared/admin/subnav/team" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_campaign" if authorized_user.can_admin_system? %>
  <%= render "/@shared/actions/request_campaign" unless authorized_user.can_admin_system? %>
<% end %>

<main id="content" role="main" class="uk-container uk-padding">
  <%= render "/campaigns/table", campaigns: @campaigns %>
</main>
