<% content_for :breadcrumbs do %>
  <%= render "/@shared/breadcrumbs/organizations" %>
  <%= render "/@shared/breadcrumbs/organization", organization: organization, class: "active" %>
<% end %>

<% content_for :actions do %>
  <%= render "/@shared/actions/add_organization_transaction", organization: organization if controller_name == "organization_transactions" %>
  <%= render "/@shared/actions/edit_organization", organization: organization %>
<% end %>

<% content_for :page_heading do %>
  <%= page_heading "", organization.name,
    icon: "fas fa-building" %>
<% end %>

<div class="bg-white border border-top-0 px-4 pt-2 pb-4">
  <ul class="nav nav-classic nav-borderless px-0 mb-4">
    <%= tag.li(active_link_to("Details", organization, active: :exact, class: "nav-link")) %>
    <%= tag.li(active_link_to("Members", organization_users_path(organization), class: "nav-link"))  %>
    <%= tag.li(active_link_to("Transactions", organization_transactions_path(organization), class: "nav-link")) %>
    <%= tag.li(active_link_to("Revisions", organization_versions_path(organization), class: "nav-link")) %>
  </ul>
  <%= yield %>
</div>