<!DOCTYPE html>
<html>
  <head>
    <%= ga_tag_manager_header %>

    <!-- Meta Tags -->
    <%= display_meta_tags site: "CodeFund" %>
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- CDN -->
    <script src="https://kit.fontawesome.com/ca1224fb66.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <!-- Compressed Stylesheets -->
    <%= stylesheet_pack_tag 'code_fund', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Compressed JavaScripts -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'code_fund', 'data-turbolinks-track': 'reload' %>
  </head>
  <%= tag.body class: "bg-light", data: {
      filestack_key: ENV["FILESTACK_API_KEY"],
      hubspot_id: ENV["HUBSPOT_ID"],
      email: true_user&.email,
      referral_code: session[:referral_code] } do %>
    <%= render "/@shared/authenticated_header" %>
    <%= render "/@shared/left_sidebar" %>
    <main class="hs-docs-content space-2 space-top-xl-3 bg-light" role="main">
      <div class="row">
        <div class="col-xl-2 order-xl-2 d-none d-xl-inline-block">
          <ul class="js-scroll-nav hd-doc-section-nav">
            <%= yield :actions %>
          </ul>
        </div>
        <%= yield :page_actions %>
        <div class="col-xl-10 order-xl-1">
          <%= yield :page_heading %>
          <%= yield %>
        </div>
      </div>
    </main>

    <!-- Target for dynamically generated modals -->
    <div id="global-modal" class="modal fade"></div>

    <%= noty_flash %>
    <%= headway_tag %>
    <%= hubspot_tag %>
    <%= ga_tag_manager_footer %>
  <% end %>
</html>
