<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: "CodeFund" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2019.2.619/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="//kendo.cdn.telerik.com/2019.2.619/styles/kendo.silver.min.css" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <script src="//kendo.cdn.telerik.com/2019.2.619/js/kendo.all.min.js"></script>
  </head>

  <body class="">
    <%= render "/@shared/admin/navbar" %>
    <%= render "/@shared/admin/breadcrumbs" %>
    <%= render "/@shared/admin/subnav" %>

    <%= yield %>

    <%= render "/@shared/admin/offcanvas" %>
  </body>
</html>
